<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT - Chatrooms</title>
	<link rel="stylesheet" href="../css/chatroom.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function(){

		var host = '{{config.host}}'
		console.log(host)
		var socket = io.connect(host+'/roomlist').on('connect',function(){
			console.log('Connection established!');
		});
	
	
	socket.on('roomupdate',function(data){
		var procData = JSON.parse(data);
		var roomData='';
		console.log(procData);
		for (var i = 0; i <procData.length; i++) {
			roomData = '<a href="room/'+procData[i].room_number+'"><li>'+procData[i].room_name+'</li></a>'+roomData;
		}
		console.log(roomData)
		$('.roomlist').html(roomData);		
	});
	
	

	$(document).on('click', '#create', function(){
		console.log('onclick event is called')
		var room_name_obj= $('.newRoom');
		var room_name= room_name_obj.val();

		console.log(room_name)
		if(room_name!='')
		{
			var room_number= Math.random()*1000;
			console.log({room_name:room_name,room_number:room_number})
			socket.emit('newroom',{room_name:room_name,room_number:room_number});
		}
		room_name_obj.val('');		
	});

	});


	</script>
	
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">ChatCAT</h1>
		<div class="cr-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullname}} | <a href="/logout">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">
				<!-- <a href="#"><li>NodeJS</li></a>
				<a href="#"><li>Cloud Computing</li></a>
				<a href="#"><li>MongoDB</li></a> -->
			</ul>
		</div>
	</div>
</body>
</html>